.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.trash__button{
  border: none;
  background: transparent;
}
.folder__button{
  border: none;
  background: transparent;
}
.folder__icon{
 color: #00BFFF;
}
.trash__icon{
  color: #ff0000;
}

.form__container{
  margin: 0 auto;
  width: 800px;
  height: 100%;
  border: grey 2px solid;
  border-radius: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.cancel__button{
  margin-right: 10px;
  margin-top: 10px;
}
.update__button{
  margin-top: 10px;
}

.datepicker{
  display: block;
    width: 916px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
